body {
  background-color: black;
  color: white;
  font-family: Monospace;
}

div.text {
  width: 66%;
  margin: auto;
  text-align: justify;
}

div.centered {
  max-width: 66%;
  margin: auto;
  text-align: center;
}

a {
  color: white;
  font-family: Monospace;
  text-decoration: none;
}
