{% extends "base.html" %}
{% block content %}
  <div class="text">
    <p>
      <h1>Advanced Threat Emulation</h1>
      <br />
      Consultants at r00k IS spend their time thinking like threat actors so you don't have to. When not on an engagement, each consultant splits their time between self education and research projects to make sure they stay on the cutting edge with tactics, tools, and motives.
    </p>
    <br />
    <br />
    <p>
      <h1>Incident Response</h1>
      <br />
      Our incident responders have collective experience of hundreds of cyber security incidents ranging from large scope complete compromises to small single system infections. Certified in incident response and forensics, every responder has a wide range of skills and experience to help navigate and recover from the unthinkable and get your business back on track and better than ever.
    </p>
    <br />
    <br />
    <p>
      <h1>Developer Education</h1>
      <br />
      It's easy to order a penetration test and check the box for compliance, but what happens when you get the findings? We pride ourselves on providing clear and concise findings reports and remediation suggestions, but sometimes an organization needs more than that, and we're here to help. Every one of our consultants is a seasoned speaker and ready to come on site to give in depth instruction on any topic we provide services for. Vulnerability remediation techniques, internal offensive security programs, incident response program creation, and secure coding practices are just some of the topics we're ready to help your organization explore.
    </p>
  </div>
{% endblock %}
