<html>
  <head>
    <title>r00k Information Security Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div>
    <center>
      <img src="{{url_for('static', filename='images/cardback.png')}}" />
      <table class="menu">
<tr><td class="menu">
	<a href="index.html" class="menu">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="about.html" class="menu">About r00k IS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="faq.html" class="menu">F.A.Q.</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="blog.html" class="menu">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="news.html" class="menu">News and Press</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="owner.html" class="menu">About the Owner</a>
</tr>
</table>
    </center>
    </div>
    <br />
    <br />
  {% block content %}{% endblock %}
  </body>
</html>
