{% extends "base.html" %}
{% block content %}
  <div class="text">
    <p>
      <h2>Any job openings?</h2>
      <br />
      We are always looking for the best and brightest in many security disciplines.
    </p>
    <br />
    <br />
    <p>
      <h2>What is required at the training facility where the training will be provided?</h2>
      <br />
      In order for us to conduct the training in your facility, your group or company will be required to provide the following:<br />
• Networked computer classroom<br />
• Printed copy of the PDF&#8217;s (we will provide the students with a PDF to print ahead of time)<br />
• Catering for the students
    </p>
    <br />
    <br />
    <p>
      <h2>What does the In-House training include?</h2>
      <br />
      • Two trainers from our team; depending on the size of the group a third trainer may be required<br />
• Five days of training with each days training running from 9:00AM to 5:00PM<br />
• Trainers will remain after class for as long as students have questions.<br />
    </p>
    <br />
    <br />
    <p>
      <h2>How can I receive a quote for In-House training in my organization?</h2>
      <br />
      If you are interested in receiving a quote, please complete the online request form
    </p>
    <br />
    <br />
    <p>
      <h2>I get a database error on Kali Linux. How do I fix it?</h2>
      <br />
      Make sure the database is running. Use:
service postgresql start
Next, you may need to ask Kali to recreate the Metasploit framework database:
service metasploit start
service metasploit stop
Sometimes you need to do the above after an msfupdate as well.
    </p>
    <br />
    <br />
  </div>
{% endblock %}
