{% extends "base.html" %}
{% block content %}
  <div class="text">
    <p>
      Welcome to r00k Information Security, where we strive to understand our customer as much as we understand security. Offering a wide array of offensive security services in addition to traditional incident response and developer education advisory services, r00k IS has the expertise to suppliment your security programs.
    </p>
  </div>
{% endblock %}
