{% extends "base.html" %}
{% block content %}
  <div class="text">
    <h2>
    <p>
      "Best experience in security. Full stop." - Imperial Senator
    </p>
    <p>
      "When I detect a breach in my email server, I know who to go to" - Government Official
    </p>
    <p>
      "When I need something hacked, that I totally legitimately own and have full permission to get hacked, I call r00k IS" - Totally legitimate not hacker
    </p>
  </h2>
  </div>
{% endblock %}
