{% extends "base.html" %}
{% block content %}
  <div class="text">
    <p>
      <h2>What it means to be an OSCP reloaded</h2>
      <br />
      In our recent blog post  “What it means to be an OSCP” we asked OSCPs to share their experience of what it means to have earned this certification and we received many tales of hardship and reward. Mike Benich sent in an entry that we felt very much captured the essence of the Offensive Security mentality; that the path to OSCP is challenging, stressful, and demanding, but the results leave you with much more than technological expertise.
<br />
<br />
<h2>Letting Mike tell it in his own words:</h2>
<br />
<br />
“After my experience with the OSCP, I can safely say that it is not like any standardized test that I have ever taken. … The people at Offensive Security do a great job of not letting you get away with just knowing the What about topics, but instead force you to delve deeper and experience the Why and the How of all the interrelated parts.”
<br />
<br />
“I have now personally experienced the simple truth that learning is directly correlated with effort. I put myself in the trenches and trudged out tired, exhausted, and proud of my accomplishment. The OSCP totally changed my perspective on learning.”
<br />
<br />
“It’s more than just a certification. It’s a paradigm shift in the way I think about teaching and learning. My students and I are no longer afraid of difficult problems because we have now internalized the concept of “trying harder” to get smarter. We have learned in a firsthand way that if it doesn’t challenge you, it doesn’t change you.”
<br />
<br />
We couldn’t agree more with you Mike, and would like to congratulate you with a brand New OnePlus One NetHunter device for winning our contest. You can read Mike’s full writeup on Medium. Penetration testing with Kali Linux and the OSCP certification is something that we are very proud of. Stories like Mike’s is why we do this, and are the most rewarding part of offering the class.
<br />
<br />
<h2>Kali Linux IRC Dojo</h2>
<br />
<br />
Over the last couple years we have been teaching the Kali Dojo at various information security conventions, such as BlackHat USA. We know that a lot of Kali users are not able to attended these live events, so we wanted to put together an event that everyone can participate in. Thus was born the IRC Kali Dojo.
<br />
<br />
On March 24th from 4pm – 5pm GMT we will be conducting the first ever IRC Kali Dojo on Freenode in the #offsec channel. We will be conducting a session guiding you how to build a customized Kali Linux ISO. To take part in this event, you will need to be able to connect to IRC with a registered user account as well as have a fully updated amd64 version of Kali Rolling with a fast broadband internet connection. If you would like to see special features included in the dojo, send topics and questions to community {at} offsec {dot} com by the 24th, and we will respond to them during the event. For those who can’t make it to the event, we will post a summary of the process on the Offsec forums and will answer some questions through the forums after the live event is over. See you there!

    </p>
  </div>
{% endblock %}
