{% extends "base.html" %}
{% block content %}
  <div class="text">
    <p>
      <h1>Mr. Rook</h1>
      <br />
      Derek is an industry veteran with over 15 years of experience spanning system administration and engineering, web development, security engineering, and offensive security. In the office, he devotes his time to building and running an internal offensive security practice for a large data analytics company. Out of the office, he splits time between his family, video games, martial arts, and creating free educational security content online. A NetWars Tournament of Champions winner, he can often be found participating in whatever CTF competitions he can find. Derek holds several security certifications, including GCIA, GNFA, GCIH, GWAPT, and OSCP.
    </p>
  </div>
{% endblock %}
